<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <!-- Favicons -->
    <link href="{{ url_for('static', filename='nx_/favicon.ico') }}" rel="icon">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Overpass">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='nx_assets/css/style.css') }}">
    <title>News Hub</title>
</head>
<body>

    {% block navbar %}

    <div class="container-fluid" style="background-color: #000;">
        


<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom sticky-top">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="{{ url_for('home') }}">MyNews</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navSimple" aria-controls="navSimple" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navSimple">
      <ul class="navbar-nav mx-auto text-center">
  <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Naslovnica</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('headlines') }}">Vijesti</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('sports') }}">Sport</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('entertainment') }}">Magazin</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('tech') }}">Tehnologija</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('science') }}">Znanost</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('articles') }}">Članci</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('sources') }}">Izvori</a></li>

  <ul class="navbar-nav">
    {% if current_user.is_authenticated %}
      <li class="nav-item"><a class="nav-link" href="{{ url_for('favorites') }}">Favoriti</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('profile') }}">Profil</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Odjava ({{ current_user.username }})</a></li>
    {% else %}
      <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Prijava</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Registracija</a></li>
    {% endif %}
  </ul>
</ul>
    </div>
  </div>
</nav>




    </div>

    {% endblock %}

    {% block content %}

    {% endblock %}

    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>