
{% extends 'nx_base.html' %}
{% block content %}
<div class="container my-4" style="max-width:720px">
  <h3>Moje postavke</h3>
  <form method="post">
    <div class="form-group">
      <label>Omiljene kategorije</label>
      <div class="row">
        {% for key, label in categories.items() %}
        <div class="col-6 col-md-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="categories" value="{{ key }}" id="cat_{{ key }}"
                {% if key in prefs %}checked{% endif %}>
            <label class="form-check-label" for="cat_{{ key }}">{{ label }}</label>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <button class="btn btn-primary">Spremi</button>
  </form>
</div>
{% endblock %}
